@charset "UTF-8";
/* CSS Document */
body {
    color: #000;
    font-size: 13px;
    max-width: none;
    padding: 0;
	margin: 0 15px 15px;
	font-family: "Segoe UI","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	line-height: 1.5em;
}

.title {
    color: #707070;
    font-family: "Segoe UI Light","Segoe UI","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    font-size: 1.5em;
    font-weight: normal;
}
p.title {
	margin: 5px  0;
}
h4 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
    padding-bottom: 5px;
    padding-top: 15px;
}
th {
	border-bottom: 1px solid #000; 
	text-align: left;
}
td, th {
	vertical-align: top; 
	padding: 4px 10px 4px 0;
}
code {
	display: block; 
	white-space: pre;
}
table {
	border:0; 
	border-spacing: 0;
}
table.full {
	width: 100%;
}
ul.list {
	margin: 30px;
}
ul.nolist {
	list-style-type: none;
}
blockquote { 
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	white-space:nowrap; 
	border-color: #939393;
    border-style: solid;
    border-width: 1px;
    clear: both;
    margin-bottom: 12px;
    position: relative;
    top: -1px;
}
blockquote.abouthelp, pre.abouthelp { 
	font-family: Courier, Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	border: none;
    clear: both;
    margin-bottom: 0px;
    top: 0px;margin-top: 0;
    padding: 1px 5px;
    width: auto;
	overflow:scroll;
	color:#0000DD;
	/*background-color: #efefef;
	border-left:thick solid #efefef;*/
}
pre.abouthelp {
	white-space: pre-wrap;
}
br.abouthelp {
	margin-bottom: 10px;
}
.codeSnippetContainerCodeContainer {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    border-color: #939393;
    border-style: solid;
    border-width: 1px;
    clear: both;
    margin-bottom: 12px;
    position: relative;
    top: -1px;
}
.codeSnippetContainerCode {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    margin: 0;
    padding: 10px 21px;
    width: auto;
	overflow:scroll;
}
.codeSnippetContainerCode p {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    margin: 0;
    padding: 10px 21px;
}
.codeSnippetContainerCode pre {
	padding-bottom: 0;
}
pre {
	font-size: 1em;
}
table p:last-child {
    padding-bottom: 0;
}
table p {
    padding-bottom: 15px;
}
p {
    color: #2a2a2a;
    line-height: 18px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 15px;
}
td {
    color: #2a2a2a;
}
table {
    border-collapse: collapse;
    width: 600px;
    border: 1px solid #bbb;
    margin-bottom: 10px;
    padding: 0;
}
th, td {
    border: 1px solid #bbb;
    padding: 10px 8px;
}
td {
    color: #2a2a2a;
    vertical-align: top;
	width:50%;
}
p.subheading {
    font-size: 1.25em;
    color: #2a2a2a;
    font-family: "Segoe UI","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	margin-top:10px;
}
.headerbar {
    left: 0;
    max-width: none;
    opacity: 0.9;
    padding:10px;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.2s ease 0s;
    width: auto;
    z-index: 50; 
	background-color: #ddd;
	margin:0;
}
/*h4 {font-size: 50pt;}
h5, th {font-weight: normal;}*/