[submodule "ExchangeNodeMaintenanceMode"]
	path = ExchangeNodeMaintenanceMode
	url = https://github.com/jhochwald/ExchangeNodeMaintenanceMode.git
[submodule "bdc.MtrTooling"]
	path = bdc.MtrTooling
	url = https://github.com/jhochwald/bdc.MtrTooling.git
[submodule "PSNLog"]
	path = PSNLog
	url = https://github.com/jhochwald/PSNLog.git
