# ignore any temp directory (used in build steps)
/

# PSGallery publishing file can contain personal API key and paths and thus we want to ignore it if it exists
.psgallery

# The persistent build environment xml files can contain API keys or other information you may not want to share
*.buildenvironment.xml
*.buildenvironment.json

# Just in case I'm a few screws loose and leave a copy of this in any project directory, ignore it.
psgalleryapi.txt

# Others you probably don't want or need to be public
~$*
*~
*.pfx

# Our CI Build Wrapper is nothing we need to publish ;-)
BuildWrapper.ps1

# Temp Directory
temp/
temp/*

# Sapien Stuff
*.TempPoint.*
*.Export.*
*.psprojs
*.RestorePoint.*
*.Run.ps1
*.Package.ps1
CustomMenu.inf

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
